<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Search</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="container">
        <h1>Movie Search</h1>
        <form action="/search" method="POST">
          <label for="searchTerm">Search for movies:</label>
          <input type="text" id="searchTerm" name="searchTerm" required />
          <button type="submit">Search</button>
        </form>
    </div>
    
  </body>
</html>
